:root .home {
  /* Colors */
  --black: rgba(0, 0, 0, 1);
  --black-2: rgba(0, 0, 0, 1);
  --gray-gray-500: rgba(158, 158, 158, 1);
  --gray-gray-800: rgba(66, 66, 66, 1);
  --gray-gray-900: rgba(33, 33, 33, 1);
  --gray-white: rgba(255, 255, 255, 1);
  --transparent-black: rgba(0, 0, 0, 0.5);
  --white: rgba(255, 255, 255, 1);

  /* Typographies */
  /* boto */
  --boto-family: 'Montserrat';
  --boto-size: 14px;
  --boto-weight: 600;
  --boto-line-height: 24px;

  /* montserrat-16-semi-bold */
  --montserrat-16-semi-bold-family: 'Montserrat';
  --montserrat-16-semi-bold-size: 16px;
  --montserrat-16-semi-bold-weight: 600;
  --montserrat-16-semi-bold-line-height: 18px;

  /* montserrat-16-semi-bold-line24 */
  --montserrat-16-semi-bold-line24-family: 'Montserrat';
  --montserrat-16-semi-bold-line24-size: 16px;
  --montserrat-16-semi-bold-line24-weight: 600;
  --montserrat-16-semi-bold-line24-line-height: 24px;

  /* montserrat-24-semi-bold */
  --montserrat-24-semi-bold-family: 'Montserrat';
  --montserrat-24-semi-bold-size: 24px;
  --montserrat-24-semi-bold-weight: 600;
  --montserrat-24-semi-bold-line-height: 36px;

  /* texto */
  --texto-family: 'Montserrat';
  --texto-size: 16px;
  --texto-weight: 400;
  --texto-line-height: 24px;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--gray-gray-800);
}

.home {
  background-color: var(--gray-white);
  padding: 0 0 139px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home .header {
  margin-bottom: 40px;
  padding: 24px 32px;
  display: flex;
  align-items: center;
}
.home .logo {
  margin-right: 1042.88px;
  display: flex;
  align-items: flex-start;
}
.home .group {
  margin-right: 9.86px;
}
.home .group-two {
  margin-top: 11.52px;
}
.home .sair {
  color: var(--black);
  text-align: center;
  font-family: var(--boto-family);
  font-size: var(--boto-size);
  font-weight: var(--boto-weight);
  line-height: var(--boto-line-height);
}
.home .flex-wrapper-one {
  margin-bottom: 32px;
  padding: 0 0 0 32px;
  display: flex;
  align-items: center;
}
.home .navers {
  margin-right: 850px;
}
.home .button-default {
  margin-left: 90px;
  text-align: center;
  width: 167.6px;
  color: var(--gray-white);
  text-align: center;
  font-family: var(--boto-family);
  font-size: var(--boto-size);
  font-weight: var(--boto-weight);
  background-color: var(--gray-gray-900);
  padding: 6px 16.7px;
  align-items: center;
}
.home .flex-wrapper-two {
  padding: 0 0 0 32px;
  display: flex;
  align-items: flex-start;
}
.home .card-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home .card-1:not(:last-of-type) {
  margin-right: 32px;
}
.home .rectangle-3 {
  margin-bottom: 16px;
}
.home .nome {
  color: var(--gray-gray-900);
  margin-bottom: 4px;
  font-family: var(--montserrat-16-semi-bold-family);
  font-size: var(--montserrat-16-semi-bold-size);
  font-weight: var(--montserrat-16-semi-bold-weight);
  line-height: var(--montserrat-16-semi-bold-line-height);
}
.home .cargo {
  color: var(--gray-gray-900);
  margin-bottom: 10px;
  font-family: var(--texto-family);
  font-size: var(--texto-size);
  font-weight: var(--texto-weight);
  line-height: var(--texto-line-height);
}
.home .flex-wrapper-six {
  display: flex;
  align-items: flex-start;
}
.home .delete-icon {
  margin-right: 8px;
  padding: 3px 5px;
  display: flex;
  align-items: center;
}
.home .edit-icon {
  padding: 2.59px 2.59px 3px 3px;
  display: flex;
  align-items: center;
}

span {
  color: var(--gray-gray-900);
}

h2 {
  color: var(--gray-gray-900);
  font-weight: var(--boto-weight);
  font-family: var(--texto-family);
}

.home .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}

.home .overlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}

.home .overlay:target {
  visibility: visible;
  opacity: 1;
}

.home .popup {
  margin: 263px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #666;
  width: 100%;
  max-width: 620px;
  border-radius: 6px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
}

.home .flex-wrapper-one-popup {
  margin-bottom: 24px;
  display: flex;
  align-items: flex-start;
}

.home .naver-excluido {
  margin-top: 8px;
  margin-right: 355px;
}
.home .close-icon {
  padding: 5px;
  display: flex;
  align-items: center;
}

.home .close {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  height: 16px;
  text-decoration: none;
  width: 16px;
  padding-left: 50px;
  margin-top: 10px;
}

.home .excluir-naver {
  margin-bottom: 24px;
}
.home .confirm {
  margin-bottom: 32px;
  font-size: 18px;
}
.home .flex-wrapper-one-confirm {
  padding: 0 0 0 152px;
  display: flex;
  align-items: center;
}

.home .button-desktop-default-cancelar:not(:last-of-type) {
  margin-right: 24px;
}

.home .button-default-cancelar {
  text-align: center;
  width: 167px;
  color: var(--gray-gray-900);
  text-align: center;
  font-family: var(--boto-family);
  font-size: var(--boto-size);
  font-weight: var(--boto-weight);
  padding: 6px 16.7px;
  align-items: center;
  background-color: white;
}

.home .button-default-excluir {
  text-align: center;
  width: 167px;
  color: var(--gray-white);
  text-align: center;
  font-family: var(--boto-family);
  font-size: var(--boto-size);
  font-weight: var(--boto-weight);
  background-color: var(--gray-gray-900);
  padding: 6px 16.7px;
  align-items: center;
}

/* In progress... */
.home .visualizacao {
  width: 53%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.home .flex-wrapper-one-info {
  background-color: var(--white);
  padding: 0px 16px 12px 534px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.home .flex-wrapper-two-info {
  display: flex;
  align-items: flex-start;
}
.home .flex-wrapper-two-info:not(:last-of-type) {
  margin-bottom: 10px;
}
.home .nome-info {
  color: black;
  margin-top: 16px;
  margin-right: 284px;
  font-family: var(--montserrat-24-semi-bold-family);
  font-size: var(--montserrat-24-semi-bold-size);
  font-weight: var(--montserrat-24-semi-bold-weight);
  line-height: var(--montserrat-24-semi-bold-line-height);
}

.home .cargo-info {
  color: var(--gray-gray-900);
  margin-bottom: 24px;
  font-family: var(--texto-family);
  font-size: var(--texto-size);
  font-weight: var(--texto-weight);
  line-height: var(--texto-line-height);
}
.home .idade {
  color: var(--gray-gray-900);
  margin-bottom: 10px;
  font-family: var(--montserrat-16-semi-bold-line24-family);
  font-size: var(--montserrat-16-semi-bold-line24-size);
  font-weight: var(--montserrat-16-semi-bold-line24-weight);
  line-height: var(--montserrat-16-semi-bold-line24-line-height);
}
.home .project {
  color: var(--gray-gray-900);
  margin-bottom: 107px;
  font-family: var(--texto-family);
  font-size: var(--texto-size);
  font-weight: var(--texto-weight);
  line-height: var(--texto-line-height);
}
.home .close-icon-two {
  margin-right: 8px;
  padding: 3px 5px;
  display: flex;
  align-items: center;
}
.home .close-icon-three {
  padding: 2.59px 2.59px 3px 3px;
  display: flex;
  align-items: center;
}
.home .img-info {
  position: absolute;
  left: 0;
  top: 0;
}
